body{
	font-family: 'Montserrat', sans-serif;
    
height : 1000px; 
    
    
    
}

/*******Styling the header *******/

.header-container{
	padding-left : 0px;
	padding-right : 0px;
	margin : 0px;	
	width : 100%;
}

.navbar {
	background-color :#300032;
	border : 1px solid #300032;
	border-radius : 0%;

}
.navbar-default .navbar-brand{
	color : #ffffff;
	font-size : 1.5em;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  text-decoration: none;
  color : yellow;

}
.navbar .nav >ul{

	width : 100%;
	padding-top : 5px;	
	text-align : center;

}
.navbar .nav > li{

	width : 300px;
	text-align : center;
	margin : 20px;
}
.navbar .nav>ul>li>a{
	background-color : #300032;
	color : #ffffff;
	width : 100%;
	font-size : 20px;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: black;
  background-color: #ffffff;
}


/****** Styling main content ****/

#main-content{

	background-color : #963019;
	padding : 20px;
	margin : 10px;
	color : #ffffff;

}

.page-header{
    
    height : 400px;
    background : linear-gradient(to right,#06000a,#300032);
    color : white;
    font-size : 150px;


    
}
#title-name,#title-icons{
    position : relative;
    top : 200px;
}

#about{
    padding-top : 100px;
    font-size : 20px;
    
    
}

.row{
    
    
    margin-bottom : 30px;
}

footer{
    height : 40px;
    background-color : black;
    color : white;
}
.icons{
    color : white;
    margin : 30px;
}


@media(max-width : 1198px)
{
.navbar .nav > li{

        width : 230px;
        text-align : center;
        margin : 20px;
}

}
@media(max-width : 992px)
{
.navbar .nav > li{

        width : 170px;
        text-align : center;
        margin : 20px;
}

